.boardTitle, .updateFormTitle, .insertFormTitle{
	text-align: center;
	margin-top: 30px;
}


.boardSearchForm{
	font-size: small;
	display: flex;
	justify-content: flex-end;
/* 	margin-top: 30px; */
}
.boardSearchBox{
	width: 350px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.boardTableDiv{
	/* border: 2px dotted black; */
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.boardTable{
	border-collapse: collapse;
	width: 1100px;
}

.boardTable th, .boardTable td{
	border-bottom: 1px solid grey;
	padding: 10px;
	font-size: small;
}

.boardTable th{
	text-align: center;
}

.lock{
	width: 20px;
}


.tbNo{
	width: 70px;
	text-align: center;
}
.tbTitle{
	width: 350px;
}
.tbTitle a{
	text-decoration: none;
	color: black;
}
.tbTitle a:hover{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.tbWriter{
	width: 100px;
	text-align: center;
}
.tbDate{
	width: 120px;
	text-align: center;
}
.tbViews{
	width: 70px;
	text-align: center;
}


.selectBoardListBtns, .boardInsertBtn{
	font-size: small;
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
	margin-bottom: 40px;
}

#viewListBtn{
	margin-left: 10px;
}






.insertForm{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
	margin-top: 50px;
	margin-bottom: 50px;
}

.insertTitle, .insertWriter, .insertPassword, .insertBtns{
	height: 40px;
}
.insertWriter, .insertPassword{
	padding-left: 5px;
}

.insertWriterDiv{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.insertBtnsDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.insertSubmitBtn, .insertCancelBtn{
	margin-right: 20px;
}





.updateForm{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
	margin-top: 50px;
	margin-bottom: 50px;
}

.updateTitle, .updatetWriter, .updatePassword, .updateBtns{
	height: 40px;
}
.updateWriter, .updatePassword{
	padding-left: 5px;
}

.updateWriterDiv{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.updateBtnsDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.updateSubmitBtn, .updateCancelBtn{
	margin-right: 20px;
}


#input_b_pw{
	height: 30px;
}



