.conTableDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px dotted red; */
	font-size: small;
	margin-top: 35px;
}

.conTable{
	/* border: 2px solid black; */
	width: 1000px;
}

/* .conTable th, .conTable td{
	border: 1px solid black;
} */

.conTitle{
	font-size: large;
	font-weight: bold;
	height: 40px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid #d0d0d0;
}

.conTdWrap{
	height: 30px;
	margin-bottom: 30px;
}

.conTdWrap{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.conWriter, .conRegDate, .conViews{
	margin-left: 5px;
	margin-right: 15px;
}

.submitLink{
	background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

.conBtnsDiv{
	/* border: 1px dotted blue; */
	display: flex;
	align-items: center;
	justify-content: center;	
	margin-top: 20px;
	margin-bottom: 20px;
}

.conBtns{
	/* border: 1px solid black; */
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.conCon{
	padding: 5px;
	padding-bottom: 50px;
}






.cmtWrap{
	/* border: 1px dotted red; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
}

.cmtTablesDiv{
	/* border: 1px dotted black; */
	width: 1000px;
}

/* .cmtTable1Div, .cmtTable2Div{
	border: 1px solid green;
} */
.cmtTable2Div{
	margin-top: 15px;
	margin-bottom: 50px;
}

.cmtTable1{
	margin-top: 3px;
	background-color: #f1f1f1;
}

.cmtTable2 th, .cmtTable2 td{
	font-size: small;
	height: 30px;
}

.cmt2Con{
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid black;
	text-align: left;
	padding-left: 10px;
}

.cmt2No{
	width: 40px;
	text-align: center;
}

.cmt2Writer{
	border-top: 1px solid black;
	width: 500px;
	padding-left: 10px;
}
.cmt2Date{
	margin-left: 10px;
	color: grey;
}
.cmt2Up{
	border-top: 1px solid black;
	width: 40px;
	text-align: center;
}
.cmt2Del{
	border-top: 1px solid black;
	width: 40px;
	text-align: center;
}

.cmt2Del a, .cmt2Up a{
	text-decoration: none;
	color: black;
}

.cmt2Del a:hover, .cmt2Up a:hover{
	text-decoration: none;
	color: black;
}










