.signUpWrap{
	height: 570px;
	font-size: small;
}

.signUpTitle{
	text-align: center;
	margin-top: 30px;
}

.signUpForm{
	display: flex;
	align-items: center;
	justify-content: center;
}

.signUpTable{
	width: 430px;
	margin-top: 50px;
}

.signUpTable td{
	padding-top: 5px;
	padding-bottom: 5px;
}
.td1{
	width: 100px;
}

.td2{
	width: 165px;
}

.signUpBtns{
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
  	margin-bottom: 40px;
}

#u_email2{
	width: 100px;
}
