.userInfoTitle{
	display: flex;
	align-items: center;
	justify-content: center;
}


.userInfoTable{
	border: 1px solid blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}