.userInfoWrap{
	margin-bottom: 100px;
}

.userInfoTitle{
	text-align: center;
	margin-top: 30px;
}


.userInfoTable{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.updateUserInfoWrap{
	font-size: small;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.updateUserInfoTable td{
	padding: 8px;
}

.td1{
	width: 80px;
}

.updateBtns{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.updateBtns div{
	margin-left: 10px;
}


